* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size:20px;
}
body {
        background-image: url('bg.jpg'); /* المسار الصحيح للصورة */
        background-size: cover; /* لتغطية الشاشة بالكامل */
        background-position: center center;
    }
